{
    "presets": [
        ["@babel/preset-typescript"],
        [
            "@babel/preset-env",
            {
                "targets": { "node": 16 },
                "modules": "auto"
            }
        ]
    ],
    "minified": true,
    "comments": false
}
